h1 {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px; 
}

section {
    width:350px;
    float:left;
    padding:10px; 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

input[required], input:required
{
	border: 1px solid #c00;
}

p 
{	
	background-color:#f1f1f1;
	margin:12px;
	padding:12px;
}

label 
{
	display:inline-block;
	padding:3px 6px;
	text-align:right;
	width:100px;
	verticle-align: top;
}

fieldset 
{
	background-color:#f1f1f1;
	border: 1px solid #c333;
	border-radius:2px;
	margin-bottom:12px;
	overflow:hidden;
	padding:0 10px;
	width:400px;
	align:centre;
}


form 
{
	align:right;
	margin-left:300px;
}
